.about-section {
  position: relative;
  padding: 1rem 0;

  .title {
    margin: 0 0 0.6rem;

    font-family: "Roca", "Times New Roman", serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;

    color: #f6c400;

    text-shadow:
      -2px -2px 0 #ffecdc,
      1px 1px 0 #07340c,
      0 0 1px #07340c;
  }

  .intro {
    max-width: 900px;
    margin: 0 auto;

    font-family: var(--font-coming-soon), "Comic Neue", cursive;
    font-size: 0.65rem;
    font-weight: 700;
    line-height: 1.15;

    color: #111;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .about-section {
    // padding: 4rem 0;

    .about {
      min-height: 340px;
    }

    .title {
      font-size: 3rem;
      margin-bottom: 2.5rem;

      text-shadow:
        -2px -2px 0 #ffecdc,
        2px 2px 0 #07340c,
        0 0 2px #07340c;
    }

    .intro {
      font-size: 1.2rem;
      line-height: 1.12;
      max-width: 1000px;
    }
  }
}

@media (min-width: 992px) {
  .about-section {
    // padding: 5rem 0;

    .about {
      min-height: 420px;
    }

    .title {
      font-size: 4rem;
      margin-bottom: 3rem;
    }

    .intro {
      // font-weight: 700;
      font-size: 1.3rem;
      line-height: 1.1;
      max-width: 1200px;
    }
  }
}

@media (min-width: 1200px) {
  .about-section {
    .title {
      font-size: 5rem;
    }

    .intro {
      font-size: 1.8rem;
    }
  }
}

@media (min-width: 1440px) {
  .about-section {
    .title {
      font-size: 4.8rem;
    }

    .intro {
      font-size: 1.8rem;
    }
  }
}

@media (min-width: 1920px) {
  .about-section {
    .title {
      font-size: 5.5rem;
    }

    .intro {
      font-size: 2.2rem;
    }
  }
}
